@mixin flex($main-axis: flex-start, $cross-axis: stretch) {
	display: flex;

	@if $main-axis != flex-start {
		justify-content: $main-axis;
	}
	@if $cross-axis != stretch {
		align-items: $cross-axis;
	}
}
@mixin mobile {
	@media screen and (min-width: $mobile) {
		@content;
	}
}
@mixin tablet {
	@media screen and (min-width: $tablet) {
		@content;
	}
}
@mixin desktop {
	@media screen and (min-width: $desktop) {
		@content;
	}
}

@mixin font($fs: 16px, $fw: 400, $lh: 30px) {
	font-weight: $fw;
	font-size: $fs;
	line-height: $lh;
}
