$primary-text-color: #000000;
$secondary-text-color: #9b99aa;
$btn-text-color: #ffffff;
$btn-bg-green: #13c98a;
$btn-bg-gray: #bdbdbd;
$accent-color: #2e09b6;
$primary-bg-color: #ffffff;
$bg-color: #474747;

$mobile: 576px;
$tablet: 992px;
$desktop: 1280px;
